<template>
  <div class="container">
    <div>
      <h1 class="title">
        Region Species
      </h1>
<h4>
  {{ $route.params.region }}
</h4>
      <div class="row">
        <table class="table table-bordered">
          <thead>
          <th>txid</th>
          <th>Scientific Name</th>
          </thead>
          <tbody>
          <tr v-for="specie in species">
            <td>
                {{ specie.taxonid }}
            </td>
            <td>{{ specie.scientific_name }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
  import Logo from '~/components/Logo.vue'
  import axios from "axios";
  import Species from "../../models/species"
  export default {
    components: {
      Logo
    },
    data: function () {
      return {
        species: []
      }
    },
    mounted() {
      this.loadRegions();
    },
    methods: {
      loadRegions:function () {
        var componenet = this;
        axios.get('http://apiv3.iucnredlist.org/api/v3/species/region/' + this.$route.params.region + '/page/0?token=9bb4facb6d23f48efbf424bb05c0c1ef1cf6f468393bc745d42179ac4aca5fee',{}).then(function (res) {

          var speciesArray = [];
          for(var i=0;i<res.data.result.length;i++) {
            speciesArray.push(new Species({
              taxonid:res.data.result[i].taxonid,
              scientific_name:res.data.result[i].scientific_name,
            }))
          }

          componenet.species = speciesArray;
        })
      }
    }
  }
</script>

<style>
  .container {
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .title {
    font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    display: block;
    font-weight: 300;
    font-size: 100px;
    color: #35495e;
    letter-spacing: 1px;
  }

  .subtitle {
    font-weight: 300;
    font-size: 42px;
    color: #526488;
    word-spacing: 5px;
    padding-bottom: 15px;
  }

  .links {
    padding-top: 15px;
  }
</style>
