<template>
  <div class="container">
    <div>
      <h1 class="title">
        icun
      </h1>
      <h2 class="subtitle">
        IUCN Red List
      </h2>
      <div class="row">
       <table class="table table-bordered">
         <thead>
         <th>Name</th>
         <th>Identifier</th>
         </thead>
         <tbody>
         <tr v-for="region in regions">
           <td>
             <nuxt-link :to=" region.identifier + '/species'">
             {{ region.name }}
             </nuxt-link>
           </td>
           <td>{{ region.identifier }}</td>
         </tr>
         </tbody>
       </table>
      </div>
    </div>
  </div>
</template>

<script>
import Logo from '~/components/Logo.vue'
import axios from "axios";
export default {
  components: {
    Logo
  },
  data: function () {
    return {
      regions: []
    }
  },
  mounted() {
    this.loadRegions();
  },
  methods: {
    loadRegions:function () {
      var componenet = this;
        axios.get('http://apiv3.iucnredlist.org/api/v3/region/list?token=9bb4facb6d23f48efbf424bb05c0c1ef1cf6f468393bc745d42179ac4aca5fee',{}).then(function (res) {
          componenet.regions = res.data.results;
        })
    }
  }
}
</script>

<style>
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
</style>
